*{font-family: 'Comic Sans MS';}

body {
  margin: 0px;
}
header {
  height: 50px;
  background-color: #B1A8DB;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: grey;
}


  article {
    float: left;
    padding: 20px;
    width: 70%;
    background-color: #A5A5A5;
    height: 700px; 
  }

  aside {
    background-color: #DAD4F2;
    padding: 20px;
    text-align: center;
    height: 700px;
  }

  footer {
    background-color: #856AFF;
    padding: 20px;
    text-align: center;
    height: 105px;
  }


.button_header1 {
  cursor: pointer;
    background-color: #c2b9e9;
    margin: 10px 80px;
    border: none;
    padding: 20px 100px ;
}